/* filters */
.extensions-filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-block-end: 40px;
}

.filters-container {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.filter-btn {
  width: auto;
  border-radius: 999px;
  padding: 10px 20px;
  text-align: center;
  border: 1px solid
    light-dark(var(--color-neutral-200), var(--color-neutral-600));
  outline: none;
  background-color: light-dark(
    var(--color-neutral-0),
    var(--color-neutral-700)
  );
  box-shadow: 0px 1px 2px 0px light-dark(var(--color-neutral-200), none);
  font-size: 1.25rem; /* 20px */
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.3px;
  color: light-dark(var(--color-neutral-900), var(--color-neutral-0));
}

.selected-filter-btn {
  border: none;
  background-color: light-dark(var(--color-red-700), var(--color-red-400));
  color: light-dark(var(--color-neutral-0), var(--color-neutral-900));
  font-size: 1.25rem; /* 20px */
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.3px;
}

.filter-btn:hover {
  cursor: pointer;
  border: 1px solid
    light-dark(var(--color-neutral-200), var(--color-neutral-600));
  background-color: light-dark(
    var(--color-neutral-0),
    var(--color-neutral-600)
  );
  color: light-dark(var(--color-neutral-900), var(--color-neutral-0));
  box-shadow: none;
  opacity: 70%;
}

.filter-btn:focus {
  box-shadow: 0 0 0 2px var(--color-neutral-200), 0 0 0 4px var(--color-red-400);
}

.selected-filter-btn:hover {
  border: none;
  background-color: var(--color-red-500);
  color: light-dark(var(--color-neutral-0), var(--color-neutral-900));
}

.selected-filter-btn:focus {
  box-shadow: 0 0 0 2px var(--color-neutral-0), 0 0 0 4px var(--color-red-400);
}

.extensions-list {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.extension-item {
  width: 343px;
  height: 200px;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid
    light-dark(var(--color-neutral-200), var(--color-neutral-600));
  background-color: light-dark(
    var(--color-neutral-0),
    var(--color-neutral-800)
  );
  box-shadow: 0px 2px 2px 0px light-dark(hsla(217, 34%, 82%, 22%), transparent),
    0px 1px 5px 1px light-dark(hsla(217, 34%, 82%, 22%), transpraent);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.extension-info {
  display: grid;
  row-gap: 8px;
  column-gap: 16px;
  text-align: left;
  grid-template-columns: 60px 1fr;
  grid-template-areas:
    "icon name"
    "icon desc";
}

.extension-icon {
  object-fit: cover;
  width: 60px;
  height: 60px;
  grid-area: icon;
}

.extension-name {
  grid-area: name;
  font-size: 1.25rem; /* 20px */
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.2px;
}

.extension-desc {
  grid-area: desc;
  font-size: 1rem; /* 16px */
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.5px;
  color: light-dark(var(--color-neutral-600), var(--color-neutral-300));
}

@media screen and (min-width: 768px) {
  .extensions-filters {
    flex-direction: row;
    gap: 48px;
    justify-content: space-between;
    margin-block-end: 32px;
  }

  .extensions-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    max-width: 704px;
  }

  .extension-item {
    width: 346px;
  }
}

@media screen and (min-width: 1440px) {
  .extensions-list {
    max-width: 1170px;
  }

  .extension-item {
    width: 382px;
  }
}

/* extension actions */
.extension-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.remove-btn {
  border-radius: 999px;
  border: 1px solid
    light-dark(var(--color-neutral-300), var(--color-neutral-600));
  padding: 8px 16px;
  color: light-dark(var(--color-neutral-900), var(--color-neutral-0));
  font-size: 1rem; /* 16px */
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.5px;
  background-color: transparent;
  /* background-color: var(--color-neutral-0); */
}

.remove-btn:focus {
  box-shadow: 0 0 0 2px light-dark(white, var(--color-neutral-900)),
    0 0 0 4px light-dark(var(--color-red-700), var(--color-red-400));
  background-color: light-dark(
    var(--color-neutral-100),
    var(--color-neutral-600)
  );
  border-color: light-dark(var(--color-neutral-0), transparent);
}

.remove-btn:hover {
  cursor: pointer;
  background-color: light-dark(var(--color-red-700), var(--color-red-400));
  color: light-dark(var(--color-neutral-0), var(--color-neutral-900));
  border-color: transparent;
}

/* slider */
.switch {
  display: inline-block;
  position: relative;
  width: 36px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 999px;
  padding: 2px;
  background-color: light-dark(
    var(--color-neutral-300),
    var(--color-neutral-600)
  );
  transition: background-color 0.4s;
}

input:focus + .slider {
  box-shadow: 0 0 0 2px
      light-dark(var(--color-neutral-0), var(--color-neutral-800)),
    0 0 0 4px var(--color-red-400);
}

.slider::before {
  position: absolute;
  top: 2px;
  left: 2px;
  content: "";
  border-radius: 100px;
  width: 16px;
  height: 16px;
  background-color: var(--color-neutral-0);
  box-shadow: 0 1px 3px 0
      light-dark(hsl(220, 29%, 5%, 30%), hsl(220, 29%, 5%, 10%)),
    0 1px 2px -1px light-dark(hsl(220, 29%, 5%, 30%), hsl(227, 75%, 14%, 60%));
  transition: 0.4s;
}

input:checked + .slider {
  background-color: light-dark(var(--color-red-700), var(--color-red-400));
}

input:checked + .slider::before {
  transform: translateX(100%);
}
